.jobBrief {
    margin-bottom: 20px; 
    border: 2px solid black; 
    margin: 10px; 
    padding: 2rem;
    cursor: pointer;
    background-color: whitesmoke;
    color: black;
    /* border-radius: 20px; */
}

.jobDetail {
    margin-bottom: 20px; 
    border:2px solid blue;
    /* border-radius: 20px; */
    margin: 10px; 
    padding: 10px;
    cursor: pointer;
    background-color: whitesmoke;
    color: black;
    position: sticky;
}

.city {
    margin: 1.67rem 0 1.67rem 0 !important;
}

.header {
    margin: 1.33rem 0 1.33rem 0;
}

.paragraph {
    margin: 1.33rem 0 1.33rem 0;
}