.centered {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: relative;
    text-align: center;
    font-size: 3rem;
}

.carded {
    margin: 20px;
    padding: 2rem;
    border: 2px solid black;
    border-radius: 5px;
    text-align: center;
    background: rgb(231, 229, 229);
    font-size: 1.5rem;
    cursor: pointer;
}

.parent {
    padding: 0 30px 30px 30px;
}